/*custom css for login page*/
.login-nav-text {
  color: white !important;
}
.test{
  color: red;
  padding-top: 500px;
  font-size: 40px;
}
.fb-navbar{
  background: linear-gradient(#4E69A2, #3B5998);
}
.navbar-button {
  background-color: #4267B2;
  border-color: #29487D;
}

.navbar-button:hover{
  background-color: #3B5998;
  border-color: #29487D;

}

.login-jumbotron{
  padding: 2rem 2rem !important;
  background: linear-gradient(#FFFFFF, #D3D8E8);

}

.terms {
  font-size: 10px;s
}

.blue {
  color: blue;
}

.terms p {
  margin-bottom: 0;
}

.fb-navbar-link {
  color: white;
}
.profile-picture{
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin: auto;
}

.nav-flex {
  display: flex;
}

.margin-auto {
  margin: auto;
}

.nav-sep {
  color: #264077;
}

.navbar-search{
  width: 500px !important;
}
.custom-margin-top{
  margin-top: 57px;
}
.custom-margin-bottom {
  margin-bottom: 57px;
}

html {
  zoom: 90%;
}

body {
  background-color: #E9EBEE;
}

.cust-left-nav {
  border: 1px solid transparent;
  background-color: inherit;
}

.cust-left-nav:hover {
  border: 1px solid rgba(0,0,0,.125) !important;
}
